@import url('https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto');

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  line-height: 2rem;
}

/*
  Heading styles need to be qualified by the d-article tag they are within.
  Also, these are for smaller screen sizes - media rules at the end increase the size for bigger screens
*/
d-article h2 {
  font-size: 20px;
  border-bottom: 0;
  margin-bottom: 0;
}

d-article h3 {
  font-size: 16px;
}

.distill-site-nav {
  color: #fff;
  background-color: #5d77a3;
  font-size: 15px;
  font-weight: 400;
}

.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  text-decoration: underline;
}

.nav-dropdown-content a {
  color: #046dc3;
}

.distill-site-header {
}

.distill-site-header .logo img{
  max-height: 25px; /* Increase logo size */
}

.distill-site-footer {
}

@media print {
  .distill-site-nav {
    display: none;
  }
}

@media (min-width: 1024px) {
  d-article h2 {
    font-size: 22px;
  }
  
  d-article h3 {
    font-size: 18px;
  }
}